body{
	margin: 0;
	background-color: #191924;
	font-family: Verdana;
}
	/* Container holding the image and the text */
}
.tittleBG {
  position: relative;
  text-align: center;
  color: white;
}
.tittleBG img {
	width:100%;
	height: 565px;
	margin: 0;
}

/* Top left text */
.mainTittle {
  position: absolute;
  top: 40%;
  left: 13%;
  color: white;

}

/* Bottom left text */
.bottomTittle {
  position: absolute;
  top: 50%;
  left: 13%;
  color: white;

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 27px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.grid-container {
  overflow: hidden;
  display: flex;
  justify-content: center;

}
.grid-item {
  float:left;
  background-color: #1a1919;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
  background-image: linear-gradient(#fffafa 4%, #242424 80%);
  margin: 20px;
  width: 320px;
}
.grid-news-item {
  float:left;
  background-color: #1a1919;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
  background-image: #242424;
  margin: 7px;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center
}
.grid-item img{
	width: 100%;
	opacity: 60%;
}
.grid-news-item img{
	flex-basis: 40%
	width: 100%;
	height:120px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.newstext {
  font-size: 14px;
  padding-left: 20px;
  color: white;
}
.grid-item b{
	font-size: 20px;
	color: #fffafa;
}
.grid-item p{
	font-size: 15px;
	color: #fffafa;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{
  transform:scale(1.1); 
  -webkit-transform:scale(1.1);
}

.footer-distributed p.footer-links a:hover{
  text-decoration:underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.about{
	width: 100%;
	padding: 78px 0px;
}

.about img{
	height: auto;
	width: 420px;
}

.about-text{
	width: 550px;
}

.main{
	width: 1130px;
	max-width:95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h1{
	color: white;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h5{
	color: white;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 25px;
	letter-spacing 2px;
}

.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button{
	background: #04AA6D;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .5s;
}

button: hover{
	background: transparent;
	border 2px solid #ddd;
	cursor: pointer;

}